In [1]:
import pandas as pd

In [6]:
df  = pd.read_csv("../data/clean/fdi_clean.csv")
df.head()

,Country Name,Country Code,Indicator Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,American Samoa,ASM,"Foreign direct investment, net inflows (BoP, c...",0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00
1,Antigua and Barbuda,ATG,"Foreign direct investment, net inflows (BoP, c...",1.535734e+08,8.398133e+07,9.372257e+07,6.963105e+07,124833151.0,9.288539e+07,4.626310e+07,1.140247e+08,9.743198e+07,151271628.2,202333092.3,1.339085e+08,106204179.2,289857032.5,301726890.4,3.005977e+08
2,Anguilla,ANG,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00
3,Aruba,ABW,"Foreign direct investment, net inflows (BoP, c...",1.888268e+07,-1.061453e+07,1.867598e+08,4.881564e+08,-314692737.4,2.720881e+08,2.083440e+08,-2.688140e+07,2.755083e+07,162456842.3,144146269.4,-7.522654e+07,161066979.1,133545121.2,248150282.6,-1.779422e+08
4,"Bahamas, The",BHS,"Foreign direct investment, net inflows (BoP, c...",8.601562e+08,6.639600e+08,8.719700e+08,6.666210e+08,526171000.0,3.822520e+08,2.512774e+08,7.607592e+07,3.904000e+08,304587573.1,491404689.2,4.822293e+08,434599799.8,383064779.1,530913950.4,1.459000e+09