In [3]:
import pandas as pd

In [4]:
df_blacklist = pd.read_csv("../data/clean/blacklist.csv")
df_blacklist.head()

,Unnamed: 0,5-12-2017,23-1-2018,13-3-2018,25-5-2018,2-10-2018,6-11-2018,12-3-2019,17-05-2019,14-06-2019,...,18-2-2020,6-10-2020,22-2-2021,5-10-2021,24-2-2022,4-10-2022,14-2-2023,17-10-2023,20-2-2024,8-10-2024
0,American Samoa,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,Antigua and Barbuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,Anguilla,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,1,1,1,1
3,Aruba,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bahamas,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0

In [5]:
df_blacklist = df_blacklist.rename(columns={'Unnamed: 0': 'Country'})
display(df_blacklist)

,Country,5-12-2017,23-1-2018,13-3-2018,25-5-2018,2-10-2018,6-11-2018,12-3-2019,17-05-2019,14-06-2019,...,18-2-2020,6-10-2020,22-2-2021,5-10-2021,24-2-2022,4-10-2022,14-2-2023,17-10-2023,20-2-2024,8-10-2024
0,American Samoa,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,Antigua and Barbuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,Anguilla,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,1,1,1,1
3,Aruba,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bahamas,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
5,Bahrain,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Barbados,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
7,Belize,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,1,0,0
8,Bermuda,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,British Virgin Islands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10,Cayman Islands,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
11,Costa Rica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12,Dominica,0,0,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,0,0,0
13,Fiji,0,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
14,Grenada,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Guam,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
16,Macau,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Marshall Islands,1,1,0,0,0,0,1,1,1,...,0,0,0,0,0,0,1,0,0,0
18,Mongolia,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Namibia,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Oman,0,0,0,0,0,0,1,1,1,...,1,0,0,0,0,0,0,0,0,0
21,Palau,1,1,1,1,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
22,Panama,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
23,Russia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
24,Samoa,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
25,Seychells,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,1,0,0
26,Saint Kitts and Nevis,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Saint Lucia,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,South Korea,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Tunisia,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Turks and Caicos Islands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
31,Trinidad and Tobago,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
32,United Arab Emirites,1,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
33,US Virgin Islands,0,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
34,Vanuatu,0,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [6]:
# Identify numerical columns
numerical_columns = df_blacklist.select_dtypes(include=['number']).columns

# Apply the transformation to the headers of numerical columns
df_blacklist.columns = [
    pd.to_datetime(col, format='%d-%m-%Y').strftime('%d-%m-%Y') if col in numerical_columns else col
    for col in df_blacklist.columns
]

In [7]:
df_blacklist.dtypes

Country       object
05-12-2017     int64
23-01-2018     int64
13-03-2018     int64
25-05-2018     int64
02-10-2018     int64
06-11-2018     int64
12-03-2019     int64
17-05-2019     int64
14-06-2019     int64
10-10-2019     int64
08-11-2019     int64
18-02-2020     int64
06-10-2020     int64
22-02-2021     int64
05-10-2021     int64
24-02-2022     int64
04-10-2022     int64
14-02-2023     int64
17-10-2023     int64
20-02-2024     int64
08-10-2024     int64
dtype: object

In [8]:
df_blacklist.dtypes

Country       object
05-12-2017     int64
23-01-2018     int64
13-03-2018     int64
25-05-2018     int64
02-10-2018     int64
06-11-2018     int64
12-03-2019     int64
17-05-2019     int64
14-06-2019     int64
10-10-2019     int64
08-11-2019     int64
18-02-2020     int64
06-10-2020     int64
22-02-2021     int64
05-10-2021     int64
24-02-2022     int64
04-10-2022     int64
14-02-2023     int64
17-10-2023     int64
20-02-2024     int64
08-10-2024     int64
dtype: object

In [9]:
# Identify which columns are date-like strings
# We will attempt to convert each column name to a datetime object, and if it works, we know it's a date column
def convert_to_datetime_if_possible(col):
    try:
        # Try converting the column name to a datetime object
        return pd.to_datetime(col, format='%d-%m-%y', errors='raise')
    except (ValueError, TypeError):
        # If conversion fails, return the column name as is
        return col

# Apply this function to each column name
df_blacklist.columns = [convert_to_datetime_if_possible(col) for col in df_blacklist.columns]

df_blacklist.columns

Index(['Country', '05-12-2017', '23-01-2018', '13-03-2018', '25-05-2018',
       '02-10-2018', '06-11-2018', '12-03-2019', '17-05-2019', '14-06-2019',
       '10-10-2019', '08-11-2019', '18-02-2020', '06-10-2020', '22-02-2021',
       '05-10-2021', '24-02-2022', '04-10-2022', '14-02-2023', '17-10-2023',
       '20-02-2024', '08-10-2024'],
      dtype='object')

In [10]:
df_blacklist.to_csv('blacklist.csv', index=True)